<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/valid.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"> 
        {% csrf_token %}
        <label for="">Otp:</label>
        <input type="number" name="otp"><br><br>
        <label for="">Pin:</label>
        <input type="number" name="pin"><br><br>
        <label for="">Confirm Pin:</label>
        <input type="number" name="c_pin"><br><br>
        <button type="submit">Set Pin</button>
    </form>
</body>
</html>